.actions {
  composes: actions from '../../components/ToolWorkspace/styles.module.css';
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  composes: label from '../../components/ToolWorkspace/styles.module.css';
}

.group {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
