.pane {
  composes: pane from '../../components/ToolWorkspace/styles.module.css';
}
.controls {
  composes: toolbar from '../../components/ToolWorkspace/styles.module.css';
}
.modes {
  max-width: 100%;
}
