.button {
  flex: none;
}

.button[aria-pressed='true'] svg {
  color: var(--lk-color-primary-label);
}

.button[aria-pressed='true'] svg path {
  fill: currentColor;
}

@media (max-width: 600px), (pointer: coarse) {
  .button {
    min-width: 44px;
    min-height: 44px;
  }
}
