.editor:not([rows]) {
  min-height: 240px;
}

.editor[rows] {
  min-height: var(--lk-control-height);
}

.editor[rows='1'] {
  min-height: var(--lk-control-height);
  height: var(--lk-control-height);
  resize: none;
}

@media (max-width: 600px) {
  .editor:not([rows]) {
    min-height: 176px;
  }
}

.editor[rows='2'] {
  min-height: 72px;
}

@media (max-width: 600px), (pointer: coarse) {
  .editor[rows='1'] {
    min-height: 44px;
    height: 44px;
  }
}
