.rowValue {
  composes: resultValue from '../../components/ToolWorkspace/styles.module.css';
}

.rowLabel {
  composes: resultLabel from '../../components/ToolWorkspace/styles.module.css';
}

.row {
  composes: resultRow from '../../components/ToolWorkspace/styles.module.css';
}

.results {
  composes: resultList from '../../components/ToolWorkspace/styles.module.css';
}

.paneLabel {
  composes: label from '../../components/ToolWorkspace/styles.module.css';
}

.actions {
  composes: actions from '../../components/ToolWorkspace/styles.module.css';
}

.controls {
  composes: toolbar from '../../components/ToolWorkspace/styles.module.css';
}

.input {
  resize: vertical;
}

.rowValue[data-unknown='true'] {
  color: var(--font-color-secondary);
}
