.controls {
  composes: toolbar from '../../components/ToolWorkspace/styles.module.css';
}

.options {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  composes: label from '../../components/ToolWorkspace/styles.module.css';
}

.input {
  width: 7rem;
}
